
*{
    box-sizing: border-box; /*применяется сразу ко всем элементам все отступы будут учитывается внутри элементов*/
}
@font-face {
    font-family: 'RithalicaJopeBabes';
    src: url(../fonts/RithalicaJopeBabes.woff2) format(woff2),
    url(../fonts/RithalicaJopeBabes.woff) format(woff);
}
@font-face {
    font-family: 'monotypecorsiva';
    src: url(../fonts/monotypecorsiva.ttf);
}
body {
    background-color:#7f8f18;
}

.nav_top{
    
    background-color: white;
    width: 800px ;
    height: 50px;
    margin: 20px auto;
    border-radius: 20px;
    padding-top:10px ;
    z-index: 2;

}

a{
    font-size: 20px;
    color:#0e300e;
    text-decoration:none;
}
a:hover{
    color:#257c25
}
a:link{
    text-decoration: none!important;
  }
li{
    display: inline;
    margin-right: 100px;
}
li:last-child{
    margin-right: 0px;
}

ul{
    list-style-type: none;  /* убираем точки в списке */
    text-align: center; /* выравнивание текста по центру применяется к контейнеру */
    padding-left: 0px;
}
.cart-link {
    width: 75px;
    height: 75px;
    transition: 0.1s;
    cursor: pointer;
    position: fixed; /* Фиксированное расположение */
    top: 10px; /* в правом верхнем углу */
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    
  }
.img__cart{
    display: flex;
    width: 50px;
    height: 50px;
}
  

  
 